<ion-header>
  <ion-toolbar>
    <ion-title>
      กรมการจัดหางาน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isScanned && !onLoading">
    <ion-list-header>
      ข้อมูลการแจ้งการทำงานของคนต่างด้าว
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3>เลขที่ตรวจสอบ</h3>
        <p>{{data.tlAuto}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>สถานะ</h3>
        <p>{{status[data.tltype]}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>พื้นที่</h3>
        <p>{{data.provinceNameReport}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>วันที่แจ้งเข้า/ออก</h3>
        <p>{{data.tlDateInform}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>วันที่เข้าทำงาน/ออกจากงาน</h3>
        <p>{{data.tlDateWork}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>ชื่อนายจ้าง</h3>
        <p>{{data.masterName}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>ชื่อคนต่างด้าว</h3>
        <p>{{data.fname}} {{data.lname}} ({{data.ename}})</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>สถานะของคนต่างด้าว</h3>
        <p>{{laborStatus[data.aliCancel]}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="onLoading">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding no-border>
  <ion-button (click)="startScan()" expand="block" color="dark">
    <ion-icon slot="start" name="barcode"></ion-icon> เริ่มสแกน
  </ion-button>
</ion-footer>